<!DOCTYPE html>
<html>
    <head>
        <title>
            time stamp converter</title>
    </head>
    <body>
        <h1 align=center>
            Timestamp api</h1>
            <h3>=>>api endpoints</h3>
            <blockquote><p>"https://infinite-bastion-72235.herokuapp.com/december%2014,1960"</p>
            <p>"https://infinite-bastion-72235.herokuapp.com/-285552000"</p>
            </blockquote>


    </body>
    
</html>